<section>
  <header class="page-header">
    <h1>Admin &raquo; Dashboard</h1>
  </header>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Number of Products</th>
        <th>Number of Categories</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= 100 %></td>
        <td><%= 100 %></td>
      </tr>
    </tbody>
  </table>
</section>